.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-----------------------------------------------Self Defined CSS--------------------------------------------------*/

.tracking-tight {
  letter-spacing: -.025em;
}

.inline {
  display: inline;
}

.font-semibold {
  font-weight: 600;
}

.gradient-text {
  background: linear-gradient(90deg, #ff1cf7, #b249f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-text2 {
  background: linear-gradient(90deg, #5A98EA, #327FEC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-text3 {
  background: linear-gradient(90deg, #86E28E, #68CC77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-text4 {
  background: linear-gradient(90deg, #F5B568, #EF7863);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-text5 {
  background: linear-gradient(90deg, #EA7CB6, #E45D82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.feature-card {
  max-width: 50%;
}


@media (min-width: 768px) {
  .grand-title {
    height: 1.5rem;
  }
}